<div id="site-content">
	<%= render partial: "shared/navbar" %>
	<main class="main-content">
		<div class="container">
			<div class="page">
				<div class="breadcrumbs">
					<span>Series Review</span>
				</div>
        <%= form_with(url: series_index_path, method: :get ) do |f| %>
          <div class="form-group has-feedback">
            <%= f.text_field :query, value: params[:query], class: "form-control", id: "search", placeholder: "Search", style:"margin-bottom: 20px; width: 300px; float:right;" %>                
          </div>
				<% end %>
        <div class="movie-list">
					<% @series.each do |serie|%>
						<div class="movie">
							<figure class="movie-poster"><img src="/dummy/batman.jpg" alt="#"></figure>
							<div class="row">
								<div class= "col-8">
									<div class="movie-title"> 
                    <a>
                      <%= serie.name%> 
                    </a> 
                  </div>
                  <span class="star-wrapper">
                    <span class="stars" style= "width: <%= (Serie.avg_score(serie.id)/ 5) * 100%>%"></span>
                  </span>
									<p> Genre: <%= serie.genre%> </p>
								</div>
								<div class= "col-4">
									<p> <%= serie.nb_of_seasons%> Seasons </p>
								</div>
							</div>
						</div>
					<% end %>
				</div> 
			</div>
		</div> 
	</main>
</div>
		

